:root{
    --bg-color:#1D1D1F;
    --shadow-color: rgba(0, 0, 0, .2);
    --text-color:#F5F5F7;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior:smooth;
    border: none;
    outline: none;
    letter-spacing: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color:var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 10px 0px 5px 0px  var(--shadow-color);
}
.navbar > a{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    padding: 15px 20px;
    font-size: 13px;
    font-weight:0;
    transform: font-size;
    transition-timing-function: ease-in;
}
 .navbar > a:hover{
    font-size: 14px;
 }
.logo{
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 25px;
    margin-left: 10px;
}
.header > a{
    filter: none;
    transition: filter;
    transition-timing-function: ease-in;
}
.header > a:hover{
    filter: drop-shadow(0 0 10px rgb(163, 163, 163));
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.New > h3{
    margin-top: 80px;
    color: #f56300;
    font-size: 12px;
    padding-bottom: 5px;
}
.iphone > h2{
    color: var(--text-color);
    font-size: 25px;
    padding-bottom: 5px;
}
.iphone12-img{
    margin-bottom: 5px;
}
.iphone12-img > img{
    width: 500px;
    height: 100%;
}
.btn-primary{
    border-radius: 20px;
    padding: 5px 15px;
    margin:10px;
    box-shadow: none;
    transition: box-shadow;
    transition-timing-function: ease-in;
}
.btn-primary:hover{
    box-shadow: 0 0 15px rgb(49, 124, 228);
}
.learnMore > a{
    text-decoration:none;
}
.buy-content{
    color: #F5F5F7;
    font-size: 21px;
}
.colors > h4{
    color: var(--text-color);
    font-size: 20px;
    padding-top: 5px;
}
.chip{
    width: 100%;
    height: 600px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.chip-img > img{
    width: 500px;
    height: 100%;
    margin-right: 40px;
}
.chip-content{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 100px;
}
.chip-content > h3{
    font-size: 25px;
    font-weight: 520;
    padding-bottom: 30px;
}
.chip-content > h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
}
.chip-content > h4{
    font-size: 23px;
    padding-top: 10px;
}
.display{
    width: 95%;
    height: 600px;
    background-color: #fbf6f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 20px;
}
.display-img > img{
    width: 800px;
    height: 100%;
}
.display-content{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.display-content > h3{
    font-size: 20px;
    color: #837f80;   
}
.display-content > h2{
    font-size: 50px;
    font-weight: 600;
}
.speed{
    width: 100%;
    height: 500px;
    background-color:#f5f5f7;
    display: flex;
    align-items: end;
    justify-content: center;
}
.speed-img > img{
    width: 500px;
    height: 100%;
}
.speed-content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.speed-content > h3{
    font-size: 20px;
    color: #837f80; 
}
.speed-content > h2{
    font-size: 45px;
    font-weight: 600;
}
.speed-content > h4{
    font-size: 20px;
    line-height: 1.7;
}
.speed-content > *{
    padding-bottom: 10px;
}
.processor{
    width: 100%;
    height: 600px;
    background-color: #e7f4e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.processor-content{
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
}
.processor-content > h3{
    font-size: 20px;
    color: #837f80; 
}
.processor-content > h2{
    font-size: 45px;
    font-weight: 600;
}
.processor-content > h4{
    font-size: 20px;
    line-height: 1.7;
}
.processor-content > *{
    padding-bottom: 10px;
}
.video{
    width: 75%;
    height: 500px;
    background-color: #cbe0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 200px;
}
.video-content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.video-content > h3{
font-size: 20px;
color: #837f80; 
}
.video-content > h2{
font-size: 45px;
font-weight: 600;
}
.video-content > h4{
font-size: 19px;
line-height: 1.7;
}
.video-content > *{
padding-bottom: 10px;
}
.accessories{
    width: 75%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 200px;
}
.accessories-content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.accessories-content > h3{
font-size: 20px;
color: #837f80; 
}
.accessories-content > h2{
font-size: 45px;
font-weight: 600;
}
.accessories-content > h4{
font-size: 19px;
line-height: 1.7;
}
.accessories-content > *{
padding-bottom: 10px;
}
.care{
    width: 70%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 240px;
}
.care-content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.care-content > h3{
font-size: 20px;
color: #837f80; 
}
.care-content > h2{
font-size: 45px;
font-weight: 600;
}
.care-content > h4{
font-size: 19px;
line-height: 1.7;
}
.care-content > *{
padding-bottom: 10px;
}
.music{
    width: 70%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 240px;
}
.music-content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.music-content > h3{
font-size: 20px;
color: #837f80; 
}
.music-content > h2{
font-size: 45px;
font-weight: 600;
}
.music-content > h4{
font-size: 19px;
line-height: 1.7;
}
.music-content > *{
padding-bottom: 10px;
}
.airtag{
    width: 70%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 20px 0 0 240px;
}
.airtag-content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.airtag-content > h3{
font-size: 20px;
color: #837f80; 
}
.airtag-content > h2{
font-size: 45px;
font-weight: 600;
}
.airtag-content > h4{
font-size: 19px;
line-height: 1.7;
}
.airtag-content > *{
padding-bottom: 10px;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}
.box-head > p{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding-top: 40px;
}
.box-img > img{
    padding-bottom: 20px;
    margin-left: 150px;
}
.box-naming{
    display:flex;
    flex-direction:row
}
.box-naming > *{
   margin-left: 170px;
}
.c1{
    padding-left: 140px;
}

.content{
    width: 1000px;
    height: 200px;
}
.bg-section{
    width: 100%;
    z-index: -1;
    background-color:#fafafa;
}

.text-body-secondary{
    font-size: 20px;
}
#footer{
    width: 90%;
    margin-left: 5%;
}
.text-body-secondary > img{
    padding-bottom: 6px;
}
.colors > div{
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.colors > .red{
    background-color: red;
}
.colors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;  
    padding-bottom: 8px;
}
.colors >*{
    padding-right: 10px;
    margin-right: 5px;
    box-shadow: none;
    transform: box-shadow;
    transition-timing-function: ease-in;
}
.colors > .black{
    background-color: black;
}
.colors > .blue{
    background-color: rgb(19, 19, 138);
}
.colors > .green{
    background-color:rgb(23, 169, 144);
}
.colors > .white{
    background-color: white;
}
.colors > .red:hover{
    box-shadow: 0 0 10px red;
}
.colors > .blue:hover{
    box-shadow: 0 0 10px rgb(19, 19, 138);
}
.colors > .green:hover{
    box-shadow: 0 0 10px rgb(23, 169, 144);
}
.colors > .black:hover{
    box-shadow: 0 0 10px black;
}
.colors > .white:hover{
    box-shadow: 0 0 10px white;
}
